
   
    <!--med_tittle_section-->
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <h1>Sobre </h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a>
                                </li>
                                <li>Sobre</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- med_tittle_section End -->
    <!--about us section start-->
    <div class="about_us_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about_img">
                            <%= image_tag("TesteSobre.jpg", class: "image-responsive")%>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 med_toppadder70">
                    <div class="abt_heading_wrapper abt_2_heading">
                        <h1 class="med_bottompadder20">Espaço Médico Terê</h1>
                        <%= image_tag("line.png", class: "med_bottompadder20")%>
                        
                    </div>
                    <div class="abt_txt">
                        <h3>Cuidando de você e sua família com muito carinho e segurança.</h3>
                        <p class="med_toppadder20">O Espaço Médico Terê está localizado no coração de Teresópolis, no moderno Centro Empresarial Cosmopolitan Office. Contamos com salas equipadas para atendimento médico pediátrico e adulto. Com uma equipe profissional multidisciplinar, experiente e atenta as suas necessidades.</p>
                    </div>
                    <div class="abt_chk med_toppadder30">
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>3 salas de atendimento</span>
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>3 elevadores</span>
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Acessibilidade</span>
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Estacionamento</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="abt_heading_wrapper abt_2_heading_mn">
                        <h1 class="med_bottompadder20">Missão </h1>
                        <%= image_tag("line.png", class: "med_bottompadder20")%>
                    </div>
                    <div class="abt_txt">
                        <p class="med_toppadder20">Prestar serviços de saúde com muito amor para crianças,  adolescentes e adultos com ética, alta qualidade, conforto e segurança, buscando constantemente a atualização científica e tecnológica.</p>
                        <p class="med_toppadder10">Mais texto se quiser aqui</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--about us section end-->